@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$violet: #674baf;
$softMagenta: #e882e8;
$white: #fff;
$fontOpenSans: 'Open Sans', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
